.box-shopcart-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;


    .content-right{
        display: flex;
        align-items: center;
        gap: 10px;

        .wrap-price{

            .text-total{
                font-size: 19px;
                
            }
            .text-price{
                color: #71cd14;
                font-size: 26px;
              
            }
        }
    }
    .content-left{
     
        .wrap-voucher{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 10px;
            .name-easier{
                margin-left: 10px;
                font-size: 16px;
            }

            .choose-voucher{
                margin-left: 60px;
                font-size: 16px;
                color: #0c56be;
                font-weight: 500;
                cursor: pointer;
            }
        }
        .wrap-note{
            padding: 10px 38px;
            display: flex;
            align-items: center;
            gap: 30px;
            margin-top: 20px;
            
            input{
               
               outline: none;
               border: 1px solid rgba(216, 215, 215, 0.815);
               background-color: transparent;
               padding: 4px 12px;
               font-size: 14px;
               width: 300px;
               
            }
         
        }
    }
}
.box-shipping{
    border-bottom: 2px solid #dededf;
    padding-bottom: 20px;
    margin-bottom: 20px;
   display: flex;
   justify-content: space-between;
   margin-left: 10px;

  
}
.link-delete{
    text-align: center;
    cursor: pointer;

    &:hover{
        color: #71cd14;
    }
}

.container-cart{
    position: relative; 
    margin-left: 0;
    margin-right: 0; 
    margin-top: 0; 
    margin-bottom: 100px;
}
.cart-empty{
    padding-left: 1.25rem;
padding-right: 1.25rem; 
padding-top: 2rem;
padding-bottom: 2rem; 
background-color: #ffffff; 
text-align: center; 
width: 100%; 
border-radius: 0.25rem; 
}
.image-cart{
    display: inline-block; 
text-align: center; 
max-width: 100%; 
border-style: none; 
width: 200px;

}
.btn-cart{
    display: inline-block; 
   font-weight: 500; 
  text-align: center; 
  text-decoration: none; 
border-radius: 0.25rem; 
background-color: #fdd835;

color: #4a4a4a;
padding-left: 55px;
padding-right: 55px;
padding-top: 10px;
padding-bottom: 10px;
color: #4a4a4a;
  &:hover{
    background-color: #fdce03;
}
}