.discount__pic {
  img {
    min-width: 100%;
    height: 100%;
  }
}

.discount__text {
  background: #f4f4f4;
  height: 390px;
  padding: 75px 90px 50px;
  text-align: center;

  a {
    font-size: 14px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding: 0 0 3px;
    display: inline-block;

    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: #ca1515;
      content: '';
    }
  }
}

.discount__text__title {
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 60px;

  &:after {
    position: absolute;
    left: 50%;
    top: -38px;
    height: 183px;
    width: 183px;
    background: #ffffff;
    content: '';
    border-radius: 50%;
    z-index: -1;
    margin-left: -91.5px;
  }

  span {
    font-size: 12px;
    color: #111111;
    font-weight: 500;
    text-transform: uppercase;
  }

  h2 {
    font-size: 60px;
    color: #ca1515;
    font-family: 'Cookie', cursive;
    line-height: 46px;
    margin-bottom: 10px;
  }

  h5 {
    color: #ca1515;
    font-weight: 700;

    span {
      font-size: 14px;
      color: #111111;
      margin-right: 4px;
    }
  }
}

.discount__countdown {
  text-align: center;
  margin-bottom: 10px;
}

.countdown__item {
  margin-bottom: 15px;
  float: left;
  width: 25%;

  &:last-child {
    margin-right: 0;
  }

  span {
    font-size: 30px;
    font-weight: 600;
    color: #111111;
    display: inline-block;
  }

  p {
    color: #111111;
    margin-bottom: 0;
    display: inline-block;
    font-weight: 500;
  }
}
